<div class="container">
    <ul class="breadcrumb">
        <li><a href="/">{{ site_name }}book</a></li>
        {#  category book chapter   #}{% if slug == 'category' %}
            <li><a href="{{ category.get_category_url }}">{{ category.name }}</a></li><li class="active">正文</li>
            {% elif slug == 'book' %}
            <li><a href="{{ novel.category.get_category_url }}">{{ novel.category.name }}</a></li>
            <li><a
                    href="{{ novel.get_novel_url }}">{{ novel.name }}</a></li>
        {% elif slug == 'chapter' %}
            <li><a href="{{ category.get_category_url }}">{{ category.name }}</a></li>
            <li><a href="{{ novel.get_novel_url }}">{{ novel.name }}</a></li>
            <li class="active">{{ chapter.name }}</li>
        {% endif %}
    </ul>
</div>