a:visited{
    color: #d9534f;
}
.limit-word{
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow:ellipsis;
}
.redBorder, .greenBorder, .yellowBorder {
    float: left;
    height: 8px;
    width: 33.33333334%;
}
.redBorder{
    background-color: #f33e4f;
}
.greenBorder{
    background-color: #46BFBD;
}
.yellowBorder{
    background-color: #FDB45C;
}
body{
    /*border-top: 8px solid #282b36;*/
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAFZCAIAAAA96mnzAAACKklEQVR4Xn2VUW7kMAxD+QLf/1x7gv71LNwdKTLhZFtggMCwSVEUPdb3159/v0uSrM8HtGRZuoQk1R69J12o9ixJWvSnVyfLdbNw0XAXWe1fIL8BoqmNGiV/cHc9Gq4NXxLKHhteRyLpA28cl0SLdx0BckSWL4gkPlIVTg1nN9Ys3iyWI5AGDA5xOXB5BJaWmOw6KSLeU6+0P50QshQyEL2im/YMIL60dTSZ3RXenlkiJpMj8XPMAl1FtjMRW19NxzOE5VGWPVGrc7aSJgz1Y9ku57mpYSwn1h0ivFOXxoCKMCXiahbbZNIZR+tkphllPsomipCwb4GMkXTmPfVg40Jt2y4RQM/PqX5JTM4iiTN8Zz1XvbIAEEvoEW+3nxTLL3lB7t7J3WwyI7g5OVxKIeFEH4FIGLC9I+XqvSd4AxJM5O6WTPr54RAxLG44FVrEuz+kFdXyLiuX6kLPVLZL2ISlcHNlBIKm5rR8nEi9wJeA6Y8JZlJOyDiin0K5ag+AXHtALBicXasjIUu9h0STBbCMU+89gMnu/J05MU1QWqdbPMRPIZIzDgsi8Olg5t7wHhUg/pv5RUzO+BHDmczHkAfZWxlSYgNI5Ig5XRoc66dW9L45eHDkbkqCO7RLG5cna/HD7YhZnfINkFo8iNyj5kx6pFrxNGRlfhV2e1Zt5DnGU8T7Tud1ivi8jU8/3Zy88pkn6+zdXiJ7AVSFBZA3VcwDfXtt5UUHS38B35hQVuJip4MAAAAASUVORK5CYII=") repeat-x scroll 0 0 #EBE7DF;
    color: #282B36;
    font-family: 'Microsoft Yahei', 宋体, 微软雅黑, Arial, 'Lucida Grande', Tahoma, sans-serif
}
header{
    font-size: 40px;
    /*line-height: 60px;*/
    letter-spacing: 2px;
    font-family: "Microsoft Yahei",sans-serif,arial;

}
header .glyphicon{
    top: 3px;
}
.site-name{
    margin-top: 0;
}

.category,
.index-page{
    background: none repeat scroll 0 0 #fcfcfc;
    font-size: 16px;
    color: #555555;
}
.category-hot{
    background: none repeat scroll 0 0 #2489c5;
    color: #ffffff;
    margin: 0;
    line-height: 30px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.category ul{
    padding: 20px 10px 20px 10px;
    font-size:16px ;
    margin-bottom: 0;
}
.category ul li{
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABI0lEQVR4XpXSP0vDUBjF4ZtLkIr4EYzduogdXJTWWV2FLMVNoQrdAhlUUFAEcejo1q13svgFBAUdxA/g30kcdQoIIlL9DWcKuZEeeOCl99w3gTSI49h4MoFb/KCJz6KShS/rOh/TbEZZECLBiSQIR1nQQgAnAVr/LZjEnIq76OJbutjRGR26isUB3pDhBikucWoUzVdI1cl05zBk2MI5jvCKIfL5QluzxTS20bY6WENdl0ujTl13Ni3DABtwWEFp1HG6M7Aq9NHBGRbgy7w6HfTzX6GHCyyXPV2dnu9/MIUX+PIMOkRsbq7hHkZmxciDOrZoQRUVPCGCw504RDobR7VoQQ0f2Mejls1IRb/t4R10CcLc6/2igSVcw8gqFnEMOnSVPxQqQaPw2y7fAAAAAElFTkSuQmCC") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
    padding: 0 0 0px 26px;

}
.category ul li span{
    padding: 0 5px;
}
.social{
    margin-bottom: 30px;
    background: none repeat scroll 0 0 #F5F3EF;
}
.chapterlist{
    padding: 20px;
}
.chapterlist .chapter{
    /*margin-bottom: 5px;*/
    border-bottom:2px dotted #eee;
    font-size: 14px;
    line-height: 34px;
}
.index-page{
    margin-bottom: 20px;
}

/*--------chapter.html-----------*/
.chapter-info{
    border: 1px solid #a7a7a7;
    width: 1170px;
}

.chapter-content{
    width: 780px;
    margin: 0 auto;
    line-height: 28px;
    font-size: 16px;
}

#breadcrumbs-two {
    /* Clear floats */
    overflow: hidden;
    width: 100%;
}

#breadcrumbs-two li {
    float: left;
    margin: 0 .5em 0 1em;
}

#breadcrumbs-two a {
    background: #ddd;
    padding: .7em 1em;
    float: left;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    position: relative;
}

#breadcrumbs-two a:hover {
    background: #99db76;
}

#breadcrumbs-two a::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-width: 1.5em 0 1.5em 1em;
    border-style: solid;
    border-color: #ddd #ddd #ddd transparent;
    left: -1em;
}

#breadcrumbs-two a:hover::before {
    border-color: #99db76 #99db76 #99db76 transparent;
}

#breadcrumbs-two a::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid #ddd;
    right: -1em;
}

#breadcrumbs-two a:hover::after {
    border-left-color: #99db76;
}

#breadcrumbs-two .current,
#breadcrumbs-two .current:hover {
    font-weight: bold;
    background: none;
}

#breadcrumbs-two .current::after,
#breadcrumbs-two .current::before {
    content: normal;
}

#breadcrumbs-three{
/* Clear floats */
overflow: hidden;
width: 100%;
}
#breadcrumbs-three li{
float: left;
margin: 0 2em 0 0;
}
#breadcrumbs-three a{
padding: .7em 1em .7em 2em;
float: left;
text-decoration: none;
color: #444;
background: #ddd;
position: relative;
z-index: 1;
text-shadow: 0 1px 0 rgba(255,255,255,.5);
-moz-border-radius: .4em 0 0 .4em;
-webkit-border-radius: .4em 0 0 .4em;
border-radius: .4em 0 0 .4em;
}
#breadcrumbs-three a:hover{
background: #abe0ef;
}
#breadcrumbs-three a::after{
background: #ddd;
content: "";
height: 2.5em;
margin-top: -1.25em;
position: absolute;
right: -1em;
top: 50%;
width: 2.5em;
z-index: -1;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
-moz-border-radius: .4em;
-webkit-border-radius: .4em;
border-radius: .4em;
}
#breadcrumbs-three a:hover::after{
background: #abe0ef;
}
#breadcrumbs-three .current,
#breadcrumbs-three .current:hover{
font-weight: bold;
background: none;
}
#breadcrumbs-three .current::after{
content: normal;
}



.book-category  a{
    color: #6d6d6d;
}
.book-category .active{
    color: #FDB45C;
}
.book-category a:hover{
    color: #428BCA;
    text-decoration:none;
}
.book-info,
.book-chapter,
.novel-list{
    background:#f1f1f1 repeat scroll 0 0;
    margin-bottom: 10px;
}
.book-info img{
    padding-top: 15px;
    padding-bottom: 15px;
    height: 270px;
}
.book-info p{
    margin-bottom: 5px;
}
.book-info-title h2{
    margin-top: 10px;
}
.book-chapter{
    padding: 10px 0px;
}
.book-chapter a{
    line-height: 26px;
}
.banquan{
    border-top: 2px solid #121212;
}
.novel-list .novel{
    border-bottom: 2px dotted #d6d6d6;
}
.chapter-content p{
    color:#000;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 2px;
    margin-bottom: 35px;
}